@use "variables" as *;
@use "mixins" as *;

.button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    display: inline-block;
}

.badge {
    max-width: 10rem;
    @include text-ellipsis(1);
    transition: opacity 0.2s ease;

    &:hover {
        opacity: 0.8;
    }
}
