@use "@/styles/typography" as *;

.container {
  margin-bottom: 2rem;
  scroll-margin-top: 6rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  gap: 0.5rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}

.content {
  @include prose-styles;
}