.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.retryButton {
    text-decoration: underline;
    transition: color 0.2s ease;

    &:hover {
        color: var(--primary);
    }
}