.container {
  display: flex;
  flex-direction: column;
}

.skeletonItem {
  margin-bottom: 2rem;
}

.skeletonTitle {
  height: 1.5rem;
  width: 40%;
  margin-bottom: 0.75rem;
}

.skeletonContent {
  height: 6rem;
  width: 100%;
}
