@use "variables" as *;
@use "mixins" as *;

.container {
  max-width: $editor-max-width;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@include respond-to(md) {
  .container {
    padding: 3rem 1.5rem;
  }

  .heading {
    font-size: 1.5rem;
  }
}
